
body{
 background: linear-gradient(white,grey,white);
 /*background-image: url(https://www.foro3d.com/attachments/154182d1586714567-muere-carl-macek-creador-de-robotech-valkyriepderobotech.jpg) ;
  background-size: cover;  */
}

h2{
   text-align: center;
}

p{
  text-align: center;
}
.imagenes{  /*clase imagenes para todas las imagenes en el documentos */
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));/*efecto de contorno de sombra en la imagen */
}


.parrafos{
  background-color: red ;
  width: auto;
  height: auto;
  margin: 0% 25% 0% 25%;
}

.Titulo-prin{
  width: 75%;
  background:linear-gradient( red,grey,black);
  margin:auto;
}

#img-div{
  background: rgba(255,255,255,1);
  position: relative;
  margin: 0% 15% 0% 15%;
  padding: 1em 1em 1em 1em;
  }

#image{
  max-width:100%;  /* ajuste del tamaño maximo de la imagen */
  display: block;  /*prueba --------------------------- */
  border-radius: 2em;
  width: 100%;          /*la imagen se buelve responsiva*/
  height: auto;         /* se ajusta al atamaño*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* crea una sombra */
}

h1{
  text-align: center;
  font-size: 3rem;

}

footer{
 position:relative;
 margin: auto;
  background: gray;
  white-space: 50px;
}

.valkyria{
filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));/*efecto de contorno de sombra en la imagen */
width: 10%;
height: 10%;
position: relative;
left: 200px;
}

