
body{
 background: linear-gradient(white,grey,black);
 /*background-image: url(https://www.foro3d.com/attachments/154182d1586714567-muere-carl-macek-creador-de-robotech-valkyriepderobotech.jpg) ;
  background-size: cover;  */
  
}

.Titulo-prin{
  position:top;
  width: 75%;
  background-color: rgba(25, 198, 198,0.25);
  margin:auto;
}

#img-div{
  background: rgba(255,255,255,1);
  position: relative;
  padding: 1em 1em 1em 1em;
  /*margin: 50% 50% 50% 50%;*/
  }

#image{
  border-radius: 2em;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* crea una sombra */
  
}

h1{
  text-align: center;
  font-size: 3rem;

}

.parrafos{
  font: outline;
  font-size: medium;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  color: #F08080;
}
footer{
 position:relative;
 margin: auto;
  background: gray;
  white-space: 50px;
  
}

.valkyria{
filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));/*efecto de contorno de sombra en la imagen */
width: 10%;
height: 10%;
position: relative;
left: 200px;
}



/* girlla de posicion en el centro*/
.Cuerpo {
  font-size: 1.5em;
  min-height: 100px;
  width: 100%;
  background: rgb(252, 251, 251);
  display: grid;
  margin: auto;
  
  grid-template-columns: 0.2fr;
  grid-template-rows: 1px auto 1fr auto;
  grid-gap: 0px;
  grid-template-areas:
  "caja1"
  "caja2"
  "caja3"
  "caja4"
  "caja5" 
  "caja6";
}/*
@media (min-width: 500px){
  .Cuerpo{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "caja1 caja1"
    "caja2 caja2"
    "caja3 caja4"
    "caja5 caja6";
  }
}    /* es cuandoeltamaño de la pantalla es mas pequeño*/

@media (min-width: 400px){
  .Cuerpo{
    grid-template-areas:
    "caja1 caja2"
    "caja3 caja4"
    "caja5 caja6";
  }
}*/
/* MODULOS CENTRALES */
.c-1{

  grid-area: "caja1";
  box-shadow: #ff00ff;
  background: rgb(190, 57, 57);
  border: gray;
  border-radius: 5px;
      margin: 10px 5px;
      padding: 4px;
}
.c-2{
  grid-area: "caja2";
  background: blue;
  border-radius: 5px;
      margin: 10px 5px;
      padding: 4px;
}
.c-3{
  grid-area: "caja3";
  background: green;
  border-radius: 5px;
      margin: 10px 5px;
      padding: 4px;
}
.c-4{
  grid-area: "caja4";
  background:  yellow;
  border: gray;
  border-radius: 5px;
      margin: 10px 5px;
      padding: 4px;
}
.c-5{
  grid-area: "caja5";
  background: gray;
  border: gray;
  border-radius: 5px;
      margin: 10px 5px;
      padding: 4px;

}
.c-6{
  grid-area: "caja6";
 background: magenta;
 border-radius: 5px;
      margin: 10px 5px;
      padding: 4px;
} 

